/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* Hide the scrollbar but still allow scrolling */
body::-webkit-scrollbar {
  display: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.expense-details-col{
  max-height: 250px;
  overflow-y: auto;
}
.expense-details-col::-webkit-scrollbar{
  display: none;
}


.shadow-inset {
  box-shadow: 0 0 10px black;
  transition: box-shadow 2s ease;
}

/* On hover, you can retain the inset shadow */
.shadow-inset:hover {
  box-shadow: inset 1px 1px 25px black, inset -1px -1px 25px black;
}


.btnhove{
  padding: 5px;
  margin-left: 20px;
  background: rgb(142, 233, 230);
  font-size: large;
  border-radius: 4px;
  transition: background 0.5s ease;
  transition: border-radius 0.3s ease;
}
.btnhove:hover {
  cursor: pointer;
  border-radius: 15px;

  background: linear-gradient(
    rgb(163, 221, 122),
    rgb(137, 169, 43),
    rgb(176, 185, 54),
    rgb(163, 221, 122)
  );
  box-shadow: 3px 3px 15px black;
}


/* Define keyframes for glowing effect */
@keyframes glow {
  0% {
    box-shadow: 1px 1px 5px rgb(41, 135, 179), -1px -1px 5px rgb(41, 135, 179);
  }
  50% {
    box-shadow: 4px 4px 15px rgb(41, 135, 179), -4px -4px 15px rgb(41, 135, 179);
  }
  100% {
    box-shadow: 1px 1px 5px rgb(41, 135, 179), -1px -1px 5px rgb(41, 135, 179);
  }
}

/* Apply animation to modal content */
.modal-content {
  animation: glow 3s infinite;
}

.let-let-let{
  height: 40vh !important;
}

.carousel-inner{
  border-radius: 5px;
}

.let-let{
  height: 80vh;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.ttttx {
  margin-top: 50px;
  margin-bottom: 60px;
  font-size: 3em;
  font-weight: bold;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: textShadowAnimation 2s infinite alternate;
}

@keyframes textShadowAnimation {
  0% {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }
  100% {
    text-shadow: -2px -2px 6px rgba(0, 0, 0, 0.5);
  }
}

.ttx {
  font-size: 70px;
}

@media screen and (max-width: 768px) {
  .ttttx {
    font-size: 1.5em; /* Adjusted font size for smaller screens */
    margin-top: 20px; /* Adjusted margin for smaller screens */
    margin-bottom: 30px; /* Adjusted margin for smaller screens */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Adjusted text shadow for smaller screens */
  }

  .ttx {
    font-size: 30px; /* Adjusted font size for smaller screens */
  }
}


.card-card-card {
  margin-left:auto;
  margin-right:auto;
  width: 350px;
  padding: 0px;
  box-shadow: 2px 2px 10px black;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for both transform and box-shadow */
}

.card-card-card:hover {
  transform: scale(1.05) rotate(-2deg); /* Scale the card slightly and rotate it on hover */
  box-shadow: 5px 5px 20px black; /* Adjust the box shadow */
}


.card-card {
  margin-left:auto;
  margin-right:auto;
  width: 350px;

  box-shadow: 2px 2px 10px black;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for both transform and box-shadow */
}

.card-card:hover {
  transform: scale(1.05) rotate(1deg); /* Scale the card slightly and rotate it on hover */
  box-shadow: 5px 5px 20px black; /* Adjust the box shadow */
}



.bg-black-black{
  background: #1e0f54;
}